body {
    color: #888;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 18px;

    /* background-color: #eee; */
    background-color: #222;

    margin: 40px;
}

main {
    margin: 20px 0;
}

a {
    color: #0fe;
}

h1 {
    font-size: 48px;
    font-weight: 100;
}
